.container {
  display: flex;
  margin: 200px auto;
  max-width: 250px;
  background-color: aqua;
}

.box {
  display: flex;
  margin: auto;
  padding: 40px;
}

form {
  font-family: 'Play', sans-serif;
}

form input {
  margin: 8px 0 8px 0 ;
}

form label {
  font-size: 14px;
}